.title-banner {
	background-color: var(--color-red);
	color: white;
	font-size: var(--font-size4);
	line-height: var(--s3);
	text-align: center;
	padding-bottom: var(--s0);
	padding-top: var(--s0);
}

.title-banner--blue {
	background-color: var(--color-blue);
}