.last-projects__title {
	@extend %container;
}

.last-projects__items {
	@extend %container;

	align-items: center;
	column-gap: var(--s0);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: var(--s2);

	@include down(765px) {
		display: block;
	}
}

.last-projects__items > *:hover {
	opacity: .9;
}
