.services__items > * {
	padding-bottom: var(--s0);
	padding-top: var(--s0);
}

.services__items > * + * {
	margin-bottom: var(--s1);
	margin-top: var(--s1);
}

.services__items > *:last-child {
	padding-bottom: var(--s5) !important;
}